<style type="text/css">
    #testDiv {
        background: mediumseagreen;
        width: 100vw;
        height: 100vh;
    }
</style>

<div id="testDiv">

</div>

<!--<style>
    div {

    }

    #bearbeiten {
        width: 99%;
    }

    #follower {
        background-color: greenyellow;
    }

    #following {
        background-color: yellow;
    }

    #profilepic {
        border-radius: 50%;
        border: 1px black solid;
        width:100%;
        height:auto;
    }

    /* {
        border: 3px dotted black
    }*/

    #username {
        border: 1px solid black
    }

    #instausername {
        border: 1px solid black
    }

    #names {
        height: 50vh;
    }

</style>

<div layout="column" layout-align="space-between center">
    <form title="ProfileTab">


        <div layout="row" layout-align="space-between center">
            <div flex="60">
                <div layout="row" layout-align="center">
                    <img src="images/logo-eva-4.png" id="profilepic" alt="Profilbild">
                </div>
            </div>
            <div layout="column" id="names" layout-align="space-between center" flex="40">

                <div layout="column" flex layout-align="center center">
                    <p id="username">
                        eventappuname
                    </p>
                </div>
                <div layout="column" flex layout-align="center center">
                    <div>
                        <p id="instausername">
                            instaeventappuname
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div layout="row" layout-align="space-around center">
            <div flex="60">
                <div layout ="column"  layout-align="center center">
                    <p id="follower">
                        1234
                    </p>
                </div>
            </div>
            <div flex="40">
                <div layout="column" layout-align="center center">
                    <p id="following">
                        5678
                    </p>
                </div>
            </div>
        </div>
        <md-whiteframe class="md-whiteframe-5dp" layout layout-align="center center">
            <md-content flex layout-padding>
                Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean
                massa. Cum sociis natoque penat ibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam
                felis, ultricies nec, pellentesque eu, pretium quis, sem. Nulla consequat massa quis enim. Donec pede
                justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a,
                venenatis vitae, justo. Nullam dictum felis eu pede mollis pretium. Integer tincidunt. Cras dapibus.
                Vivamus elementum semper nisi. Aenean vulputate eleifend tellus
            </md-content>
        </md-whiteframe>
        <md-button class="md-raised" id="bearbeiten">Profil bearbeiten</md-button>
    </form>
</div>-->