<style type="text/css">
    #display-event {
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 10px;
    }


    #display-event:hover + #event-info {
    }

    .eva-event-info .image-container {
        position: relative;
        z-index: 1;
        /*transform: skew(10deg);*/
        overflow: hidden;
        padding: 3px;
        box-shadow: 0px 0px 10px 5px rgb(0, 0, 0);
        background: linear-gradient(110deg, #833ab4, #fd1d1d, #fcb045);
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
        transform: scale(1.08);
    }


    .event-info-img {
        width: 80vw;
    }

    #title-display {
        width: 100%;
        background: #191919;
        color: white;
        border-top-right-radius: 25px;
        padding-bottom: 10px;
    }

    .title-container {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .like-container {
        padding: 5px;
        background: linear-gradient(110deg, rgb(253, 29, 29), rgb(252, 176, 69));
        color: white;
        letter-spacing: 1.5px;
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
        transform: scale(1.05);
    }

    .title-container > span {
        font-size: 1.5em;
        font-weight: 400;
        letter-spacing: 2px;
    }

    .like-container > span {
        font-size: 1.5em;
        font-weight: bold;
        text-shadow: 1px 1px 2px black, 0 0 1em #000000, 0 0 0.2em rgba(0, 0, 255, 0.24);
    }

    #event-info {
        position: relative;
        z-index: 0;
        width: 100%;
        height: 80%;
        background: #191919;
        color: white;
        text-align: center;
        padding-top: 15px;
    }

    .username-container{
        justify-content: center;
        font-size: 1.3em;
        letter-spacing: 1.3px;
        font-weight: 600;
    }

    .username-container > span {
        color: crimson;
        font-weight: bold;
    }

    .thumb-up {
        color: #24ad00;
        text-shadow: 1px 1px 2px black, 0 0 1em #000000, 0 0 0.2em rgba(0, 221, 0, 0.24);
    }

    .location-date-container {
        margin-top: 10px;

    }

    .location-date-container > div > i {
        color: rgba(220, 20, 60, 0.55);
        z-index: 1;
        font-size: 4em;
        font-weight: bold;
        text-shadow: 1px 1px 4px black, 0 0 1em #000000, 0 0 0.2em rgba(253, 29, 29, 0.24);
    }

    .location-date-container > div > span {
        position: relative;
        z-index: 2;
    }

    .location-text {
        top:-2em;
        letter-spacing: 1.5px;
        font-size: 1.5em;
    }

    .event-desc {
        text-align: center;
        font-size: 0.9em;
        width: 80vw;
        position: relative;
        top: -2em;
    }

    .date-text {
        top:-2.5em;
        letter-spacing: 1px;
        font-size: 1em;
        font-weight: 600;
    }

    .like-btn {
        top: -2em;
        position: relative;
        z-index: 1;
        width: 10em;
        border-radius: 25px;
        padding: 2px;
        background: linear-gradient(210deg, #c31432, #240b36);
        transform: scale(1.2);
        letter-spacing: 1.5px;
        font-weight: 500;
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.67);
    }

    .like-btn > span {
        color: white;
    }
    .like-btn:hover {
        box-shadow: 0px 0px 20px 10px #159000;
        background: linear-gradient(215deg, #9fc300, #0f6000);
    }
    .like-btn:after {
        box-shadow: 0px 0px 20px 10px #159000;
        background: linear-gradient(215deg, #c3aa00, #0d5300);
    }


    @media (min-width: 600px) {
        #display-event {
            max-height: 500px;
            max-width: 500px;
        }

        .eva-event-info .event-info-img {
            max-height: 500px;
            max-width: 500px;
        }

        div#info {
            max-width: 500px;
        }
    }

    @media (min-width: 960px) {
        #display-event {
            max-height: 600px;
            max-width: 600px;
        }

        .image-container .event-info-img {
            max-height: 600px;
            max-width: 600px;
        }

        div#info {
            max-width: 600px;
        }
    }

    /* Click animation */

    #display-event:hover > #title-display{
        animation-name: animate-slide-from-bottom;
        animation-duration: 2s;
    }

    #display-event:hover > #event-info {
        animation-name: animate-slide-from-top;
        animation-duration: 1.5s;
    }

    @keyframes animate-slide-from-bottom {
        from {
            transform: translateY(100%);
        }
        to {
            top: 0;
        }
    }

    @keyframes animate-slide-from-top {
        0%{
            opacity: 0;
            top: -5vh;
            transform: translateY(-100%);
        }
        25% {
            opacity: 0;
        }
        100% {
            opacity: 1;
            z-index: 0;
            top: 0;
        }
    }

    #display-event:hover > .like-btn {
        animation-name: animate-scale;
        animation-duration: 2s;
    }

    @keyframes animate-scale {
        0% {
            transform: scale(0);
        }
        55% {
            transform: scale(0);
        }
        100% {
            transform: scale(1.2);
        }
    }

    #display-event:hover > #event {
        animation-name: animate-margin-top;
        animation-duration: 0.5s;
    }

</style>

<div id="display-event" layout="column" layout-align="center center" ng-mouseover="visibleOnHover = true" ng-mouseleave="visibleOnHover = false">

    <div id="title-display" layout="row" layout-align="space-between" ng-show="visibleOnHover">
        <div class="title-container" layout-align="center center">
            <span>EventTitle</span>
        </div>
        <div class="like-container" layout="row" layout-align="center center">
            <span>137</span>
            <i class="material-icons thumb-up">thumb_up</i>
        </div>
    </div>


    <a id="event" ng-click="$ctrl.infoValue()" ng-controller="InfoController" >
        <div class="event-info-content">
            <div class="image-container">
                <img src="images/event-temp.jpg" class="event-info-img">
            </div>
        </div>
    </a>

    <div id="event-info" layout="column"  ng-show="visibleOnHover">
        <div layout="row" class="username-container">
            <span>@</span>
            Username
        </div>

        <div class="location-date-container" layout="row" layout-align="space-around">
            <div class="location" layout="column">
                <i class="material-icons">navigation</i>
                <span class="location-text">Wien</span>
            </div>
            <div class="date" layout="column">
                <i class="material-icons">date_range</i>
                <span class="date-text">25.01.2020</span>
            </div>
        </div>

        <div class="event-desc">
          <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat.</p>
        </div>
    </div>
    <md-button ng-show="visibleOnHover" class="md-raised like-btn"><span>Like event</span></md-button>
</div>