<style type="text/css">

    eva-header .header {
        /*background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*background-size: 1000% 100%;*/
        /*animation: create-gradient-shift 10s ease infinite;*/
        height: 10vh;
        background: black;
        box-shadow: 0 0 8px 2px #000000;
        display: flex;
        padding: 10px;
        transition: top 0.3s;
    }


    eva-header div.searchBar {
        flex: 4;
    }
    eva-header div.searchBar input{
        display: flex;
        width: 100%;
        flex-grow:1;
        border-radius: 25px;
        border: 0;
    }

    eva-header div.filter1 select {
        min-width: 2em;
        margin-left: 5px;
        border-radius: 25px;
        border: 0;
    }
    eva-header div#filter2 select {
        min-width: 2em;
        margin-left: 5px;
        border-radius: 25px;
        border: 0;
    }
    eva-header div.searchBar input[placeholder]{
        padding:5px 5px 5px 10px;
    }
    eva-header select{
        padding:5px 5px 5px 10px;
    }


</style>


<div class="header" layout="row" layout-align="start center">


    <div class="searchBar">
        <input type="text" Placeholder="Suche" flex>
    </div>
    <div class="filter1">
        <select ng-model="$ctrl.filter1" ng-change="$ctrl.eventfilter()">
            <option ng-repeat="x in $ctrl.filteroption" value="{{x}}">{{x}}</option>
        </select>
    </div>
    <div id="filter2">
        <select ng-show="$ctrl.eventfilter()">
            <option ng-repeat="y in $ctrl.eventfilteroptions" value="{{y}}">{{y}}</option>
        </select>
    </div>

</div>