<style type="text/css">

    .header {
        /*background: linear-gradient(to right, #000000, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
        /*background-size: 1000% 100%;*/
        /*animation: create-gradient-shift 10s ease infinite;*/
        height: 22vh;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgb(64, 0, 6)), to(rgba(80, 80, 80, 0)), color-stop(.1, #240003));

        display: flex;
        padding: 10px;
        transition: top 0.3s;
    }


    div.searchBar {
        flex: 4;
        background: linear-gradient(210deg, #833ab4, #fd1d1d, #fcb045);
        border-radius: 20px;
        padding: 3px;
    }

    div.searchBar input {
        display: flex;
        width: 100%;
        flex-grow: 1;
        border-radius: 20px;
    }

    div.filter select {
        flex: 1;
        min-width: 5em;
        margin-left: 5px;
        border-radius: 10px;
        border: 0;
    }

    div.filter select option {
        border-radius: 10px;
    }

    div.searchBar input[placeholder] {
        padding: 5px 5px 5px 10px;
    }

    select {
        padding: 5px 5px 5px 10px;
        height: 100%;
    }

    .container {
        margin: auto;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        width: 300px;
        height: 100px;
    }

    .search {
        margin: auto;
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 55px;
        height: 55px;
        background: linear-gradient(210deg, #c31432, #240b36);
        opacity: 1;
        border-radius: 50%;
        transition: all 1s;
        z-index: 4;
        box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.78);

    }

    .search:hover {
        cursor: pointer;
    }

    .search::before {
        content: "";
        position: absolute;
        margin: auto;
        top: 22px;
        right: 0;
        bottom: 0;
        left: 22px;
        width: 12px;
        height: 2px;
        background: white;
        transform: rotate(45deg);
        transition: all .5s;
    }

    .search::after {
        content: "";
        position: absolute;
        margin: auto;
        top: -5px;
        right: 0;
        bottom: 0;
        left: -5px;
        width: 25px;
        height: 25px;
        border-radius: 50%;
        border: 2px solid white;
        transition: all .5s;
    }

    input {
        font-family: 'Inconsolata', monospace;
        border: 1px solid rgba(0, 0, 0, 0.78);
        position: absolute;
        margin: auto;
        top: 10px;
        right: 0;
        bottom: 0;
        left: 0;
        width: 40px;
        height: 40px;
        outline: none;
        border: none;
        /* border-bottom: 1 px solid rgba(255, 255, 255, 0.2);*/
        background: linear-gradient(210deg, #c31432, #240b36);
        color: white;
        /* text-shadow: 0 0 10px crimson;*/
        padding: 0 80px 0 20px;
        border-radius: 30px;
        /* box-shadow: 0 0 25px 0 crimson,
         0 20px 25px 0 rgba(0, 0, 0, 0.2);
     /* box-shadow: inset 0 0 25 px 0 rgba(0, 0, 0, 0.5);*/
        transition: all 1s;
        opacity: 0;
        z-index: 5;
        font-weight: bolder;
        letter-spacing: 0.1em;
    }

    input:hover {
        cursor: pointer;
    }

    input:focus {
        width: 300px;
        opacity: 1;
        cursor: text;
    }

    input:focus ~ .search {
        right: -250px;
        background: #151515;
        z-index: 6;
        box-shadow: 0 0 5px 1px #240003;

    }

    input:focus ~ .search::before {
        top: 0;
        left: 0;
        width: 25px;
    }

    input:focus ~ .search::after {
        top: 0;
        left: 0;
        width: 20px;
        height: 2px;
        border: none;
        background: white;
        border-radius: 0;
        transform: rotate(-45deg);
    }

    input:focus ~ .search::placeholder {
        color: white;
        opacity: 0.5;
        font-weight: bolder;
    }

    .options {
        width: 280px;
        display: flex;
        align-content: center;
    }

    .opt-button {
        margin: 2px;
        background: rgba(255, 255, 255, 0.86);
        border: 1px solid rgba(0, 0, 0, 0.78);
        border-radius: 10px;
        color: black;
        font-family: 'Inconsolata', monospace;
    }

    .opt-button:first-child {
        border-top-left-radius: 20px;
        border-bottom-left-radius: 20px;
    }

    .opt-button:last-child {
        border-top-right-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .focus-opt {
        background: linear-gradient(210deg, #c31432, #240b36);
        /*rot*/
        /*background: linear-gradient(to top, #1F1C18, #8E0E00, #8E0E00);*/
        transform: scale(1.2);
        color: white;
        flex: 10%;
        border-radius: 10px;
        position: relative;
        box-shadow: 0 0 5px 1px #240003;
        z-index: 1;
    }
</style>

<form method="post" action="eva-header.html" name="SuchForm" onkeydown="pressed(event)">

    <div class="header" layout="column" layout-align="start center" ng-controller="HeaderController">

        <div class="options">
            <md-button id="filter1" class="opt-button focus-opt" flex="50" ng-click="change($event,0)">Events</md-button>
            <md-button id="filter2" class="opt-button" flex="50" ng-click="change($event,1)">People</md-button>
        </div>
        <!--<div class="searchBar">
            <input type="text" Placeholder="Suche" flex>
        </div>-->


        <!--<div class="filter" placeholder="Filter">
            <select>
                <option ng-repeat="x in $ctrl.filteroption" value="{{x}}">{{x}}</option>
            </select>
        </div>-->

        <div ng-hide="eventsearch" class="options">
            <select id="category">
                <option>Alle</option>
                <option>Clubbing</option>
                <option>Party</option>
                <option>Sport</option>
                <option>Konzert</option>
                <option>Festival</option>
            </select>
        </div>
        <div class="container">
            <input id="suchbegriff" type="text" placeholder="Search...">
            <div class="search"></div>
        </div>

    </div>

</form>