<style type="text/css">
    #display-event {
        width: 100%;
        margin-top: 10px;
    }

    .eva-event-info .image-container {
        position: relative;
        z-index: 1;
        /*transform: skew(10deg);*/
        overflow: hidden;
        border: 3px solid rgba(125, 34, 146, 0.47);
        box-shadow: 0px 0px 10px 3px rgba(0, 0, 0, 0.5);
        background: linear-gradient(145deg, #c31432, #240b36);
        text-align: center;
        vertical-align: middle;
        display: table-cell;
        -webkit-transition: opacity 1s ease-in-out;
        -moz-transition: opacity 1s ease-in-out;
        -o-transition: opacity 1s ease-in-out;
        transition: opacity 1s ease-in-out;
    }

    .event-info-img {
        width: 80vw;
    }

    #title-display {
        width: 100%;
        background: #191919;
        color: white;
        border-top-right-radius: 25px;
    }

    .title-container {
        display: flex;
        align-items: center;
        text-align: center;
        width: 100%;
        justify-content: center;
    }

    .like-container {
        padding: 5px;
        background: white;
        color: black;
        border-top-left-radius: 25px;
        border-top-right-radius: 25px;
    }

    .title-container > span {
        font-size: 1.5em;
        font-weight: 400;
    }

    .like-container > span {
        font-size: 1.5em;
        font-weight: bold;
    }


    #event-info {
        width: 100%;
        background: #191919;
        color: white;
        text-align: center;
    }


    @media (min-width: 600px) {
        .eva-event-info .event-info-img {
            max-height: 500px;
            max-width: 500px;
        }

        div#info {
            max-width: 500px;
        }
    }

    @media (min-width: 960px) {

        .image-container .event-info-img {
            max-height: 600px;
            max-width: 600px;
        }

        div#info {
            max-width: 600px;
        }

    }
</style>

<div id="display-event" layout="column" layout-align="center center">

    <div id="title-display" layout="row" layout-align="space-between">
        <div class="title-container" layout-align="center center">
            <span>{{$ctrl.event.name}}</span>
        </div>
        <div class="like-container" layout="row" layout-align="center center">
            <span>420</span>
            <i class="material-icons">thumb_up</i>
        </div>
    </div>


    <a class="event" ng-click="$ctrl.infoValue()" ng-controller="InfoController">
        <div class="event-info-content">
            <div class="image-container">
                <img src="images/event-temp.jpg" class="event-info-img">
            </div>
        </div>
    </a>

    <div id="event-info" layout="column">
        <h3>Username</h3>
        <div class="location-date-container" layout="row" layout-align="space-around">
            <p>Wien</p>
            <p>20.04</p>
        </div>
    </div>
</div>