<style type="text/css">

    .eva-event-info:last-child {
        padding-bottom:5em;
    }
    .eva-event-info:first-child {
        padding-top: 9em;
    }

    .eva-profile-info:last-child {
        padding-bottom: 7px;
    }

    .eva-profile-info:first-child {
        padding-top:8em;
    }

</style>

<eva-header filter="$ctrl.changeFilter(changeFilter)" class="fixed-top"></eva-header>

<div id="events" layout="column" layout-align="center center">
    <!-- Neue Komponente Event Display-->

    <eva-profile-info  class="eva-profile-info" ng-repeat="u in users()" user="u"></eva-profile-info>-->
    <eva-event-info  class="eva-event-info" ng-repeat="x in events()" event="x"></eva-event-info>-->
</div>