<script type="text/javascript">

</script>

<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.0.3/angular.min.js"></script>
<style>
    div.event{
        display: flex;
        justify-content: center;
    }
    #map{
        margin-top: 2px;
        border: 2px white solid;
        height:90vh;
        width:98vw;
    }



</style>
</head>
<body layout="column">

<div class="event" ng-controller="MapController">

    <div id="map">
        <script>
            let map;
            let locations = [ {place: 'Peterstraße 22/1', desc: 'Platzhirsch', lat: 48.210033, long: 16.363449},
                {place: 'Unterholberndorf', desc: 'Moritz Homeparty', lat: 48.433830, long: 16.477860}];
            let lati;
            let longi;

            function initMap() {

                locations.push({place: 'Testdorfstrtaße', desc: 'Testparty', lat: 48.567379, long: 16.572229});


                navigator.geolocation.getCurrentPosition(function(position) {
                    lati = position.coords.latitude;
                    longi = position.coords.longitude;

                    //locations.push({place: '', desc: 'Dein Standort', lat: lati, long: longi});
                    createMarker({place: '', desc: 'Dein Standort', lat: lati, long: longi});

                    console.log('Your latitude is :'+lati+' and longitude is '+longi);
                });






                var mapOptions = {
                    zoom: 8,
                    center: new google.maps.LatLng(48, 16),
                    mapTypeId: google.maps.MapTypeId.ROADMAP
                }

                map = new google.maps.Map(document.getElementById('map'),mapOptions);



                markers = [];
                var infoWindow = new google.maps.InfoWindow();

                var createMarker = function (info) {

                    var marker = new google.maps.Marker({
                        map: map,
                        position: new google.maps.LatLng(info.lat, info.long),
                        title: info.desc
                    });

                    marker.content = '<div class="infoWindowContent">' + info.place + '</div>';

                    google.maps.event.addListener(marker, 'click', function () {
                        infoWindow.setContent('<h5>' + marker.title + '</h5>' +
                            marker.content);
                        infoWindow.open(map, marker);
                    });

                    markers.push(marker);

                };
                for (let i = 0; i < locations.length; i++) {
                    createMarker(locations[i]);
                    console.log(locations[i])
                }
                console.log(lati + "   " + longi);
            }



        </script>
        <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBVIHKn9vpmu2cadDWkr4YlehErlWuilJM&callback=initMap"
                async defer></script>
    </div>
</div>


</body>