<style type="text/css">
    #addEventContainer {
        padding: 5%;
        margin-bottom: 5em;
    }

    .universal-box {
        background: white;
        border-radius: 25px;
        width: 100%;
        text-align: center;
        /*box-shadow: 0px 0px 15px -1px rgba(0, 247, 255, 0.62);*/
        margin-bottom: 15px;
    }

    .header {
        font-size: 30px;
        font-family: "Calibri Light";
        text-transform: uppercase;
        letter-spacing: 3px;
        font-weight: 300;
    }

    .upload-event-image {
    }

    .upload-icon {
        color:white;
        background: black;
        font-size: 30px;
        padding: 25px;
        margin: 0;
        border-radius: 25px;
    }

    .sub-header {
        font-size: 25px;
        font-weight: 300;
        padding: 25px 0 25px 10px;
    }

    label {
        display: inline-block;
    }

    .btn-primary {
        width: 30vw;
        padding: 5px;
        border: 1px solid white;
        background: white;
        color: black;
    }

    .btn-primary:checked {
        background: navy;
    }

    .btn-primary:first-child {
        border-top-left-radius: 25px;
        border-bottom-left-radius: 25px;
    }

    .btn-primary:last-child {
        border-top-right-radius: 25px;
        border-bottom-right-radius: 25px;
    }
    .upload-event-description {
        border: 1px solid black;
        border-radius: 0 0 25px 25px;
        padding: 5px;
    }

    #submit {
        margin-top: 5px;
        width: 100%;
        border-radius: 25px;
        text-align: center;
        font-size: 35px;
        font-family: "Calibri Light";
        background: white;
    }

    #fileupload {
        font-size: 15px;
    }

    .event-location-input  {
        width: 100%;
        height: 40px;
        border-bottom-left-radius: 25px;
        border-bottom-right-radius: 25px;
    }
</style>

<div id="addEventContainer" ng-controller="AddController">
    <form class="add-form" layout="column" layout-align="start center" [formGroup]="addEventFormGroup">

        <h1 class="header universal-box">Create an Event</h1>

        <div class="upload-event-image universal-box" layout="row">
            <i class="material-icons upload-icon">folder_open</i>
            <h1 class="sub-header">Upload Event Picture</h1>
        </div>

        <input class="universal-box" type="file" name="fileupload" value="fileupload" id="fileupload">

        <div class="upload-event-title universal-box" layout="column">
            <div layout="row">
                <i class="material-icons upload-icon">create</i>
                <h1 class="sub-header">
                    Upload Event title
                </h1>
            </div>
            <textarea class="upload-event-description" name="event-title" rows="2" cols="20" placeholder="Enter event title"></textarea>
        </div>

        <div class="upload-event-image universal-box" layout="column">
            <div layout="row">
                <i class="material-icons upload-icon">subject</i>
                <h1 class="sub-header">Upload Event Desc.</h1>
            </div>
            <textarea class="upload-event-description" name="event-desc" rows="5" cols="20" placeholder="Enter event description"></textarea>
        </div>

        <div class="upload-event-title universal-box" layout="column">
            <div layout="row">
                <i class="material-icons upload-icon">my_location</i>
                <h1 class="sub-header">
                    Upload Event Location
                </h1>
            </div>
            <textarea class="upload-event-description" name="event_location" rows="1" cols="20" placeholder="Enter event location"></textarea>
        </div>

        <div class="btn-group btn-group-toggle" name="radioBasic" ng-controller="AddController">
            <label class="btn-primary">
                <input type="radio"
                       name="publicity"
                       ng-model="category"
                       ng-change="changeOptions(0)"
                       value="public" checked> Clubbing
            </label>

            <label class="btn-primary">
                <input type="radio"
                       name="publicity"
                       ng-model="category"
                       ng-change="changeOptions(1)"
                       value="private"> Partyyy
            </label>

            <label class="btn-primary">
                <input type="radio"
                       name="publicity"
                       ng-model="category"
                       ng-change="changeOptions(2)"
                       value="sport"> Sport
            </label>
            <label class="btn-primary">
                <input type="radio"
                       name="publicity"
                       ng-model="category"
                       ng-change="changeOptions(3)"
                       value="konzert"> Konzert
            </label>
            <label class="btn-primary">
                <input type="radio"
                       name="publicity"
                       ng-model="category"
                       ng-change="changeOptions(4)"
                       value="festival"> Festival
            </label>
        </div>

        <div class="universal-box">
            <label>
                <input type="date" name="event_date">
            </label>
        </div>



        <md-button id="submit" ng-click="addEvent()">Submit
            <i class="material-icons">send</i>
        </md-button>

    </form>
</div>