<style type="text/css">
    #profile{
        color: white;
        background: #2b2b2b;
        height: 100%;
        padding-bottom: 10vh;
    }

    #image-name-display-container {
        background: #191919;
        width: 100vw;
        height: 50vh;
    }

    .image-container {

    }

    .profile-img {
        width: 13em;
        height: 13em;
        border-radius: 50%;
        padding: 5px;
        background: linear-gradient(110deg, #833ab4, #fd1d1d, #fcb045);
        animation: gradient-shift 5s ease infinite;
        background-size: 400% 400%;
    }

    @keyframes gradient-shift {
        0%{background-position:0% 50%}
        50%{background-position:100% 50%}
        100%{background-position:0% 50%}
    }

    .name {
        color: white;
        font-weight: 500;
        letter-spacing: 3px;
        font-size: 2em;
        padding: 5px;
    }


    .name > span {
        font-weight: bold;
        color: crimson;
    }

    .follow-btn-2:hover {

    }

    .settings-btn {
        border: 1px solid black;
        position: relative;
        z-index: 1;
        top: -25px;
        width: 13em;
        border-radius: 25px;
        padding: 2px;
        background: linear-gradient(110deg, #833ab4, #fd1d1d, #fcb045);
        transform: scale(1.2);
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.67);
    }

    .settings-btn:hover {
        box-shadow: 0px 0px 10px 5px rgba(255, 255, 255, 0.67);
    }

    .btn-text-style {
        color: white;
        letter-spacing: 2px;
    }

    hr {
        background: linear-gradient(110deg, #833ab4, #fd1d1d, #fcb045);
        height: 2px;
        width: 80vw;
    }


    #account-detail-container {
        height: 50px;
        width: 100%;
    }

    #account-detail-container > div {
        text-align: center;
        line-height: 50%;
        font-size: 1em;
        color: #939393;
        letter-spacing: 1.5px;
    }

    #account-detail-container > div > p:first-of-type {
        font-size: 1.5em;
        color: white;
        letter-spacing: 1.5px;
        font-weight: 500;
    }

    .titel-style {
        font-weight: bold;
        font-size: 1.3em;
        letter-spacing: 2px;
    }

    .profile-desc {
        text-align: center;
        padding: 0 20px 0 20px;
    }

    .head {
        width: 100%
    }

    .loggout-btn {
        float: right;
        font-size: 2em;
        margin-right: 1em;
        background: linear-gradient(210deg,white, #9f9f9f);
        color: white;
        padding: 2px;
    }
    eva-profile-edit{
        display: none;
    }
</style>

<div id="profile" layout="column" layout-align="center center" ng-controller="ProfileController">

    <div id="image-name-display-container" layout="column" layout-align="center center">
        <div class="head">
            <md-button class="loggout-btn md-raised md-fab" ng-click="logout()">
                <i class="material-icons logout-icon">exit_to_app</i>
            </md-button>
        </div>

        <div class="image-container" layout="column" layout-align="center center">
            <img class="profile-img" src="{{profileSrc()}}">
            <p class="name"><span>@</span>{{profileName()}}</p>
        </div>
    </div>

    <md-button class="md-raised settings-btn" ng-click="changeProfileSettings()">
        <div class="btn-text-style">
            SETTINGS
            <md-icon md-svg-src="images/icons8-einstellungen.svg"></md-icon>
        </div>
    </md-button>

    <div id="account-detail-container" layout="row" layout-align="space-around">
        <div layout="column">
            <p id="followers">{{followers()}}</p>
            <p>Fans</p>
        </div>

        <div layout="column">
            <p id="events">{{eventcount()}}</p>
            <p>Events</p>
        </div>

        <div layout="column">
            <p id="following">{{following()}}</p>
            <p>Abos</p>
        </div>
    </div>

    <div id="profile-bschreibung" layout="column" layout-align="center center">
        <hr>
        <h1 class="titel-style">Profilbeschreibung</h1>
        <div class="profile-desc">
            {{profileBio()}}
        </div>
    </div>
    <br>
    <div id="profile-events-created" layout="column" layout-align="center center">
        <h1 class="titel-style">Events</h1>
        <div class="profile-desc">
            <eva-event-info class="eva-event-info" ng-repeat="event in events()" event="event"></eva-event-info>
        </div>
    </div>
<eva-profile-edit></eva-profile-edit>
</div>