<style type="text/css">

    .profileContent {
        /*background-color: #1A1110;*/
        padding: 10px;
        color: white;
        justify-content: center;
    }

    .centerEverything {
        margin: 0em;
    }

    div.changeProfileContainer div p {
        font-size: 1.3em;
    }

    div #events, #followers, #following {
        font-size: 1.5em;
        margin: 0px;
    }

    #profile p {
        font-size: 1.5em;
    }

    div.head, div.profileName, #profileDesc, div.changeSettings {
        box-shadow: 0px 0px 15px -7px rgba(0, 0, 0, 0.75);
        border-radius: 25px;
        background-color: black;
        /*
                box-shadow: 0px 0px 20px -7px rgba(0,0,0,0.75)*/
    }

    div.profileName {
        margin-right: 5px;
    }

    div.changeSettings {
        margin-left: 5px;
    }

    .changeProfileContainer {
        padding: 10px 0px 10px 0px;
    }

    div.profileName, div.changeSettings {
        height: 10vh;
    }

    div#profileDesc {
        /*Blocksatz
        text-align: justify;
        padding: 15px 15px 15px 15px;
        */
        padding: 10px 15px 5px 15px;
        margin-bottom: 0px;
    }

    div.profileName p, div.changeSettings p {
        font-size: 1em;
        margin-bottom: 0px;
    }


    #profileImg {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        border: 5px white solid;
    }

    #profileImgContainer {
        margin: 10px;
    }

    div eva-event-info.eva-event-info:hover {
    scale(1.1);
    }

    eva-event-info div#info {
        color: #721c24;
    }

    @media (min-width: 960px) {
        .centerEverything {
            max-width: 500px;
        }

        #profileImg {
            width: 200px;
            height: 200px;
        }

        div #events, #followers, #following {
            font-size: 1.7em;
        }


        div.changeProfileContainer, div p {
            font-size: 1.2em;
        }
    }


    @media (max-width: 600px) {
        #profileImg {
            width: 150px;
            height: 150px;
        }

        div #events, #followers, #following {
            font-size: 1.2em;
        }

        div p {
            font-size: 0.75em;
        }

        div.changeProfileContainer div p {
            font-size: 1em;
        }
    }

    @media (min-width: 600px) {
        .centerEverything {
            max-width: 500px;
        }
    }

    @media (min-width: 960px) {
        .centerEverything {
            max-width: 600px;
        }
    }


</style>


<div class="profileContent" layout="row" layout="center center" ng-controller="ProfileController">
    <div class="centerEverything">
        <div class="head" layout="row" layout="space-between">
            <div id="profileImgContainer">
                <img alt="Your Profile Picture" class="profileImg" id="profileImg" src="{{profileSrc}}">
            </div>
            <div id="stats" layout="row" layout-align="space-around center" flex>
                <div layout="column">
                    <p id="events">{{eventcount}}</p>
                    <p>Events</p>
                </div>
                <div layout="column">

                    <p id="followers">{{followers}}</p>
                    <p>Fans</p>
                </div>
                <div layout="column">

                    <p id="following">{{following}}</p>
                    <p>Abos</p>
                </div>
            </div>

        </div>
        <div class="changeProfileContainer" layout="row" layout-align="space-around center">
            <div class="profileName" layout="row" layout-align="center center" flex><p>@{{profileName}}</p></div>
            <md-button class="md-raised" ng-click="changeProfileSettings()">
                <md-icon md-svg-src="images/icons8-einstellungen.svg"></md-icon>
            </md-button>
        </div>
        <div id="profileDesc">
            <p>{{profileBio}}</p>
        </div>

        <div layout="column" layout-align="center center">
            <!-- Neue Komponente Event Display-->
            <eva-event-info class="eva-event-info" ng-repeat="x in events" title="{{ x }}"></eva-event-info>
        </div>
    </div>
    <eva-profile-edit style="display:none;"></eva-profile-edit>
</div>
<!--<div class="profileContent col-lg-12">

    <div id="profileInfo" class="centered">
        <div class="setWidth" layout="column">
            <h1 id="instaName"><span id="highlightAt">@</span>{{profileName}}</h1>

            <br class="customBreak">

            <br class="customBreak">
            <div id="settings">
                <h3>Change Settings</h3>
            </div>
            <br class="customBreak">
            <div id="achievments" layout="row">
                <img class="arrow" flex="" src="images/achievements/Arrow-Left-icon.png">
                <img flex="" src="{{achievments[0]}}">
                <img flex="" src="{{achievments[1]}}">
                <img flex="" src="{{achievments[2]}}">
                <img flex="" src="{{achievments[3]}}">
                <img class="arrow" flex="" src="images/achievements/Arrow-Right-icon.png">
            </div>
        </div>
    </div>
</div>-->


